/* fakecss:D:/2023/aligner/src/inputnumber.esbuild-svelte-fake-css */
.numinput.svelte-5fv0ws {
  user-select: none;
}
.stepper.svelte-5fv0ws {
  cursor: pointer;
}
.disabled.svelte-5fv0ws {
  color: var(--button-unselected);
  cursor: default;
}

/* fakecss:D:/2023/aligner/src/toolbar.esbuild-svelte-fake-css */
.Toolbar.svelte-1fm8z6a {
  height: 1.5em;
}
.selectedRef.svelte-1fm8z6a {
  background: lightyellow;
  color: black;
}
a.svelte-1fm8z6a {
  color: darkcyan;
}

/* fakecss:D:/2023/aligner/src/3rdparty/splitpane.esbuild-svelte-fake-css */
.container.svelte-714jtl {
  position: relative;
  width: 100%;
  height: 100%;
}
.pane.svelte-714jtl {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mousecatcher.svelte-714jtl {
  background: rgba(255, 255, 255, .01);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.divider.svelte-714jtl {
  background: rgba(10, 10, 10, .15);
  position: absolute;
  z-index: 10;
  display: none;
  filter: blur(1px);
}
.divider.svelte-714jtl::after {
  content: "";
  position: absolute;
  background-color: var(--splitter);
}
.dragging.svelte-714jtl {
  background: highlight;
}
.horizontal.svelte-714jtl {
  padding: 0 6px;
  width: 0;
  height: 100%;
  cursor: ew-resize;
}
.horizontal.svelte-714jtl::after {
  left: 5px;
  top: 0;
  width: 0px;
  height: 100%;
}
.vertical.svelte-714jtl {
  padding: 6px 0;
  width: 100%;
  height: 0;
  cursor: ns-resize;
}
.vertical.svelte-714jtl::after {
  top: 5px;
  left: 0;
  width: 100%;
  height: 0px;
}
.left.svelte-714jtl,
.right.svelte-714jtl,
.divider.svelte-714jtl {
  display: block;
}
.left.svelte-714jtl,
.right.svelte-714jtl {
  height: 100%;
  float: left;
}
.top.svelte-714jtl,
.bottom.svelte-714jtl {
  position: absolute;
  width: 100%;
}
.top.svelte-714jtl {
  top: 0;
}
.bottom.svelte-714jtl {
  bottom: 0;
}

/* fakecss:D:/2023/aligner/src/app.esbuild-svelte-fake-css */
.app.svelte-1ypjrgx {
  height: 100vh;
}
