/* fakecss:D:/2023/foliocrop/src/3rd/thumb.esbuild-svelte-fake-css */
.thumb.svelte-8w8x88 {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
}
.thumb-content.svelte-8w8x88 {
  position: relative;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
}
.thumb-content.svelte-8w8x88::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  transform: translate(-25%, -25%) scale(0);
  border-radius: 100vh;
  background: var(--thumb-bg, #5784fd);
  opacity: 30%;
  transition: transform 100ms ease-in-out;
}
.thumb-content.active.svelte-8w8x88::before {
  transform: translate(-25%, -25%) scale(1);
}

/* fakecss:D:/2023/foliocrop/src/3rd/rangeslider.esbuild-svelte-fake-css */
input.svelte-1nnnvg0 {
  display: none;
}

/* fakecss:D:/2023/foliocrop/src/cropper.esbuild-svelte-fake-css */
.vstrip1.svelte-3np62r {
  stroke: rgba(255, 123, 62, 0.8);
  fill: rgba(255, 255, 255, 0);
}
.vstrip0.svelte-3np62r {
  stroke: rgba(255, 123, 62, 0.8);
  fill: rgba(255, 255, 255, 0);
}
.step.svelte-3np62r {
  cursor: move;
  fill: rgba(128, 128, 128, 0);
}
.hstrip.svelte-3np62r {
  stroke: rgb(255, 123, 0.8);
  stroke-width: 1;
}
.ratio.svelte-3np62r {
  font: bold 14px courier;
  fill: brown;
  stroke: brown;
}
.pointerpos.svelte-3np62r {
  font: bold 12px courier;
  fill: brown;
  stroke: brown;
}
.caption.svelte-3np62r {
  font: bold 20px courier;
  fill: gray;
  stroke: gray;
}
.selected.svelte-3np62r {
  fill: rgba(227, 0, 0, 0.865);
  stroke: rgba(227, 0, 0, 0.865);
}
.grip.svelte-3np62r {
  cursor: grabbing;
  fill: rgba(128, 96, 96, 0.5);
}
.gripx.svelte-3np62r {
  cursor: col-resize;
  fill: rgba(128, 96, 96, 0.5);
}
.gripy.svelte-3np62r {
  cursor: row-resize;
  fill: rgba(128, 96, 96, 0.5);
}
.grip.active.svelte-3np62r,
.grip.svelte-3np62r:hover {
  fill: #2288;
}
.gripx.active.svelte-3np62r,
.gripy.active.svelte-3np62r,
.gripx.svelte-3np62r:hover,
.gripy.svelte-3np62r:hover {
  fill: rgba(185, 33, 13, 0.533);
}

/* fakecss:D:/2023/foliocrop/src/croppers.esbuild-svelte-fake-css */
.expanding.svelte-4qb2td {
  fill: rgba(128, 128, 128, 0.3);
}

/* fakecss:D:/2023/foliocrop/src/help.esbuild-svelte-fake-css */
pre.svelte-1vigaic {
  font-size: 130%;
  margin: 0px;
}
.title.svelte-1vigaic {
  font-size: 180%;
}
a.svelte-1vigaic {
  color: darkcyan;
}
.filename.svelte-1vigaic {
  color: darkcyan;
}

/* fakecss:D:/2023/foliocrop/src/3rd/dropfile.esbuild-svelte-fake-css */
#zone.svelte-1v4pc3g {
  width: 100%;
  height: 100%;
}
#hidden-input.svelte-1v4pc3g {
  display: none;
}
#fallback.svelte-1v4pc3g {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  border: black solid 1px;
  border-radius: 5px;
  border-style: dashed;
  border-color: inherit;
}
#fallback.svelte-1v4pc3g svg {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

/* fakecss:D:/2023/foliocrop/src/imageviewer.esbuild-svelte-fake-css */
.image.svelte-q92n05 {
  height: 99vh;
  z-index: 1;
}
.croppers.svelte-q92n05 {
  position: absolute;
}
.fileprefix.svelte-q92n05 {
  color: goldenrod;
  font-size: 125%;
  position: absolute;
  right: 0px;
  background: black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.dropzone.svelte-q92n05 {
  position: absolute;
  width: 120px;
  right: 0px;
  height: 70%;
  z-index: 9999;
}

/* fakecss:D:/2023/foliocrop/src/filelist.esbuild-svelte-fake-css */
.framecount.svelte-12vaa8r {
  font-weight: bold;
  border-bottom: 1px dotted silver;
}
.done.svelte-12vaa8r {
  color: yellowgreen;
}
.filelist.svelte-12vaa8r {
  cursor: pointer;
  overflow-y: auto;
  height: 90vh;
}
.selected.svelte-12vaa8r {
  background-color: rgb(72, 72, 72);
}

/* fakecss:D:/2023/foliocrop/src/thumbnail.esbuild-svelte-fake-css */
canvas.svelte-o0r9bs {
  width: 100%;
}
.thumbnails.svelte-o0r9bs {
  align-items: center;
  align-content: center;
  height: 100vh;
  z-index: 299;
  margin-right: 1em;
}

/* fakecss:D:/2023/foliocrop/src/3rd/swipe.esbuild-svelte-fake-css */
.swipe-panel.svelte-17g4ceu.svelte-17g4ceu {
  position: relative;
  height: var(--sv-swipe-panel-height, 100%);
  width: var(--sv-swipe-panel-width, inherit);
}
.swipe-item-wrapper.svelte-17g4ceu.svelte-17g4ceu {
  overflow: hidden;
  position: relative;
  height: inherit;
  z-index: var(--sv-swipe-panel-wrapper-index, 2);
  pointer-events: none;
}
.swipeable-total_elements.svelte-17g4ceu.svelte-17g4ceu,
.swipeable-slot-wrapper.svelte-17g4ceu.svelte-17g4ceu {
  position: relative;
  width: inherit;
  height: inherit;
}
.swipe-handler.svelte-17g4ceu.svelte-17g4ceu {
  width: 100%;
  position: absolute;
  top: var(--sv-swipe-handler-top, 0px);
  bottom: 0px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
}
.swipe-indicator.svelte-17g4ceu.svelte-17g4ceu {
  position: relative;
  bottom: 1.5rem;
  display: flex;
  justify-content: center;
  z-index: var(--sv-swipe-panel-wrapper-index, 2);
  pointer-events: none;
}
.dot.svelte-17g4ceu.svelte-17g4ceu {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 2px;
  cursor: pointer;
  pointer-events: fill;
}
.swipe-indicator.svelte-17g4ceu .is-active.svelte-17g4ceu {
  background-color: var(--sv-swipe-indicator-active-color, grey);
}

/* fakecss:D:/2023/foliocrop/src/3rd/swipeitem.esbuild-svelte-fake-css */
.swipeable-item:not(.is-active) {
  transform: translate3d(100%, 0, 0);
}
.swipeable-item.svelte-13ik1fy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition-timing-function: ease-out;
}

/* fakecss:D:/2023/foliocrop/src/preview.esbuild-svelte-fake-css */
.swipe-holder.svelte-jhy9u0 {
  z-index: 999;
  height: 100vh;
}
.message.svelte-jhy9u0 {
  position: absolute;
  height: 1px;
  z-index: 299;
}
.swipe.svelte-jhy9u0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.closebtn.svelte-jhy9u0 {
  position: absolute;
  right: 0em;
  z-index: 999;
  cursor: pointer;
}

/* fakecss:D:/2023/foliocrop/src/app.esbuild-svelte-fake-css */
.ImageViewer.svelte-6qxba4 {
  width: 80%;
  vertical-align: top;
}
.FileList.svelte-6qxba4 {
  width: 15%;
  vertical-align: top;
}
.Thumbnail.svelte-6qxba4 {
  width: 5%;
  vertical-align: top;
}
