/* fakecss:D:/2023/foliocrop/src/cropper.esbuild-svelte-fake-css */
.vstrip1.svelte-6svlme {
  fill: rgba(189, 189, 189, 0.3);
}
.vstrip0.svelte-6svlme {
  fill: rgba(255, 136, 62, 0.3);
}
.step.svelte-6svlme {
  fill: rgba(128, 128, 128, 0.3);
}
.hstrip.svelte-6svlme {
  stroke: gray;
  stroke-width: 1;
}
.pointerpos.svelte-6svlme {
  font: bold 16px courier;
  fill: brown;
  stroke: brown;
}
.caption.svelte-6svlme {
  font: bold 20px courier;
  fill: gray;
  stroke: gray;
}
.selected.svelte-6svlme {
  fill: rgba(227, 0, 0, 0.865);
  stroke: rgba(227, 0, 0, 0.865);
}
.step.svelte-6svlme {
  cursor: move;
  fill: rgba(128, 128, 128, 0.5);
}
.grip.svelte-6svlme {
  cursor: grabbing;
  fill: #fff0;
}
.gripx.svelte-6svlme {
  cursor: col-resize;
  fill: #fff0;
}
.gripy.svelte-6svlme {
  cursor: row-resize;
  fill: #fff0;
}
.grip.active.svelte-6svlme,
.grip.svelte-6svlme:hover {
  fill: #2288;
}
.gripx.active.svelte-6svlme,
.gripy.active.svelte-6svlme,
.gripx.svelte-6svlme:hover,
.gripy.svelte-6svlme:hover {
  fill: rgba(185, 33, 13, 0.533);
}

/* fakecss:D:/2023/foliocrop/src/croppers.esbuild-svelte-fake-css */
.expanding.svelte-4qb2td {
  fill: rgba(128, 128, 128, 0.3);
}

/* fakecss:D:/2023/foliocrop/src/help.esbuild-svelte-fake-css */
pre.svelte-yd22m9 {
  font-size: 150%;
}
.title.svelte-yd22m9 {
  font-size: 200%;
}
a.svelte-yd22m9 {
  color: darkcyan;
}

/* fakecss:D:/2023/foliocrop/src/imageviewer.esbuild-svelte-fake-css */
.image.svelte-1mbcg4r {
  height: 99vh;
}
.croppers.svelte-1mbcg4r {
  position: absolute;
}

/* fakecss:D:/2023/foliocrop/src/filelist.esbuild-svelte-fake-css */
.done.svelte-10y0ufl {
  color: yellowgreen;
}
.filelist.svelte-10y0ufl {
  cursor: pointer;
  overflow-y: auto;
  height: 94vh;
}
.selected.svelte-10y0ufl {
  background-color: rgb(72, 72, 72);
}

/* fakecss:D:/2023/foliocrop/src/thumbnail.esbuild-svelte-fake-css */
.thumbnails.svelte-q44kwf {
  width: 80px;
  align-items: center;
}

/* fakecss:D:/2023/foliocrop/src/app.esbuild-svelte-fake-css */
.ImageViewer.svelte-pu3szp {
  width: 80%;
  vertical-align: top;
}
.FileList.svelte-pu3szp {
  width: 18%;
  vertical-align: top;
}
.Thumbnail.svelte-pu3szp {
  width: 2%;
  vertical-align: top;
}
